@import 'tailwindcss';

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-accent: #10b981;

  --color-text-main: #fafafa;
  --color-text-second: #a1a1aa;
  --color-text-disabled: #52525b;

  --color-border: #27272a;
  --color-primary-hover: #34d399;
  --color-primary-active: #059669;
  --color-focus-ring: #10b981;

  --color-error-text: #ef4444;
  --color-error-bg: #450a0a;
  --color-success: #22c55e;
  --color-warning: #f59e0b;

  --font-mono: var(--font-roboto-mono), ui-monospace, monospace;

  --text-20: 20px;
}

@layer base {
  body {
    @apply bg-background text-text-main font-mono;
    background-color: #09090b;
  }
}

@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--color-border);
  }
}
